
#base64-upload-button {
    float: right;
    font-size: 16px;
    line-height: 0px;
    margin-right: 10px;
    color: #fff;
}

#base64-upload-button .form-group{
    margin: 0px;
}

#base64-upload-button .glyphicon-paperclip{
    cursor: pointer !important;
}

#base64-upload-button input[type=file] {
    display: none;
}

.glyphicon-paperclip.file-empty{
    color:#fff;
}

.glyphicon-paperclip.file-validated{
    color: cornsilk;
}

.glyphicon-paperclip.file-invalidated{
    color:#ff0800;
}